* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-image: url(./img/puntitos-mobile.png);
}
.encabezado {
  padding: 0 30px;
  margin: 0 auto;
  display: grid;
  gap: 20px;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}
.logo {
  width: 127px;
  height: 70px;
}
.menu-desplegable {
  display: grid;
  height: 35px;
}
.rectangulo-negro {
  background-color: black;
  width: 36px;
  height: 7px;
  margin-bottom: 6px;
}
.menu-estatico {
  display: none;
}
.opciones {
  text-decoration: none;
  color: black;
}
.titulo-principal {
  font-family: "Open Sans";
  font-size: 48px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 42px;
}
.imagen-personal-desktop {
  display: none;
}
.imagen-personal-mobile {
  margin: 0 auto;
  width: 318px;
  height: 318px;
}
.info-personal {
  background-color: black;
  color: white;
  display: grid;
  gap: 60px;
  padding: 80px 30px;
  margin: 0 auto;
  justify-items: center;
}
.link-apx {
  font-family: "Roboto";
  font-weight: bold;
  text-decoration: none;
  color: white;
}
.subtitulo-info-personal,
.subtitulo-servicios,
.subtitulo-contacto {
  margin: 0;
  text-align: center;
  font-family: "Open Sans";
  font-size: 32px;
}
.parrafo-info-personal,
.parrafo-servicios {
  font-family: "Roboto";
}
.cuadrado {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4caf50;
  border: solid 6px #ffd953;
  border-radius: 10px;
}
.checkmark-desktop {
  display: none;
}
.servicios {
  background-color: white;
  display: grid;
  gap: 55px;
  padding: 55px 30px;
}
.computer {
  width: 138px;
  height: 128px;
}
.articulo {
  text-align: center;
  margin-bottom: 25px;
}
.mini-titulo {
  margin: 8px;
  font-family: "Roboto";
}
.contacto {
  background-color: black;
  color: white;
  padding: 60px 20px;
}
.form {
  display: grid;
  gap: 20px;
  padding-top: 60px;
  max-width: 600px;
  margin: 0 auto;
}

.input-nombre,
.input-email,
textarea,
.button {
  width: 100%;
  height: 45px;
  border: solid #2c2c2c;
  font-size: 22px;
}
.textarea {
  min-height: 200px;
  resize: none;
}
label {
  display: block;
  padding-bottom: 10px;
  font-family: "Roboto";
}
.button {
  border-radius: 5px;
  background-color: #ffd953;
  font-size: 16px;
  border: none;
  font-family: "Roboto";
  font-weight: bold;
}
.button:hover {
  color: white;
}
.button:active {
  background-color: white;
  color: #ffd953;
  border: solid #ffd953;
}
.redes-sociales {
  padding: 40px 20px;
  display: grid;
  gap: 70px;
  background-color: #dbdbdb;
}
.logo-footer {
  width: 127px;
  height: 70px;
}
.copy {
  display: block;
  font-family: "Roboto";
}
.redes {
  margin-bottom: 50px;
}
li {
  display: block;
  margin-bottom: 30px;
}
.logos {
  width: 28px;
  height: 28px;
  vertical-align: middle;
}
.links {
  text-decoration: none;
  color: black;
  padding: 0 8px;
  vertical-align: middle;
  font-family: "Roboto";
}
.github {
  padding: 0 4px;
}
